<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="dao.UserMapper" >
  <resultMap id="BaseResultMap" type="model.User" >
    <result column="id" property="id" jdbcType="VARCHAR" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="password" property="password" jdbcType="VARCHAR" />
    <result column="name_zh" property="nameZh" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="VARCHAR" />
    <result column="corp_id" property="corpId" jdbcType="VARCHAR" />
    <result column="mobile" property="mobile" jdbcType="VARCHAR" />
    <result column="email" property="email" jdbcType="VARCHAR" />
    <result column="app_key" property="appKey" jdbcType="VARCHAR" />
  </resultMap>
  
  <insert id="insert" parameterType="model.User">
    insert into user (id, name, password, 
      name_zh, create_time, corp_id, 
      mobile, email,app_key)
    values (#{id,jdbcType=VARCHAR}, #{name,jdbcType=VARCHAR}, #{password,jdbcType=VARCHAR}, 
      #{nameZh,jdbcType=VARCHAR}, #{createTime,jdbcType=VARCHAR}, #{corpId,jdbcType=VARCHAR}, 
      #{mobile,jdbcType=VARCHAR}, #{email,jdbcType=VARCHAR}, #{appKey,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="model.User" >
    insert into user
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="name != null" >
        name,
      </if>
      <if test="password != null" >
        password,
      </if>
      <if test="nameZh != null" >
        name_zh,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="corpId != null" >
        corp_id,
      </if>
      <if test="mobile != null" >
        mobile,
      </if>
      <if test="email != null" >
        email,
      </if>
       <if test="appKey != null" >
        app_key,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="password != null" >
        #{password,jdbcType=VARCHAR},
      </if>
      <if test="nameZh != null" >
        #{nameZh,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=VARCHAR},
      </if>
      <if test="corpId != null" >
        #{corpId,jdbcType=VARCHAR},
      </if>
      <if test="mobile != null" >
        #{mobile,jdbcType=VARCHAR},
      </if>
      <if test="email != null" >
        #{email,jdbcType=VARCHAR},
      </if>
      <if test="appKey != null" >
        #{app_key,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>

    <select id="findUsers"  parameterType="model.User" resultMap="BaseResultMap" >  
        select * from user where 1=1
	      <if test="id != null" >
	        and id = #{id,jdbcType=VARCHAR}
	      </if>
	      <if test="name != null" >
	        and name = #{name,jdbcType=VARCHAR}
	      </if>
	      <if test="password != null" >
	        and password = #{password,jdbcType=VARCHAR}
	      </if>
	      <if test="nameZh != null" >
	        and name_zh = #{nameZh,jdbcType=VARCHAR}
	      </if>
	      <if test="createTime != null" >
	        and create_time = #{createTime,jdbcType=VARCHAR}
	      </if>
	      <if test="corpId != null" >
	        and corp_id = #{corpId,jdbcType=VARCHAR}
	      </if>
	      <if test="mobile != null" >
	        and mobile = #{mobile,jdbcType=VARCHAR}
	      </if>
	      <if test="email != null" >
	        and email = #{email,jdbcType=VARCHAR}
	      </if>
	       <if test="appKey != null" >
	        and app_key = #{appKey,jdbcType=VARCHAR}
	      </if>
    </select>
    
    <select id="checkExistUser" parameterType="java.lang.String" >
    select count(*) from user
    where name = #{name,jdbcType=VARCHAR}
    </select>
    
    <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from user
    where id = #{id,jdbcType=VARCHAR}
    </delete>
    
    
</mapper>